body {
  font-family: "Raleway", sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
}
.contenedor {
  padding-right: calc(1.5rem * 0.5);
  padding-left: calc(1.5rem * 0.5);
  margin-right: auto;
  margin-left: auto;
  padding-top: 2rem;
}
a{
  text-decoration: none;
}
.navegacion {
  background: rgb(39, 39, 39);
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
}
.hamburguer {
  padding: 0.5em 0.5em 0.5em 1em;
}
.principal {
  padding-top: 2em;
  overflow-x: hidden;
}

.icono {
  background-color: none;
  cursor: pointer;
  color: rgb(240, 240, 240);
}
.titulo {
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 2rem;
}
.desplegar {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  transition: left 0.2s ease;
  z-index: 100;
  background: rgba(10, 10, 10, 0.6);
}
.barra {
  background: rgb(10, 10, 10);
  width: 60%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.cerrar {
  color: rgb(240, 240, 240);
  cursor: pointer;
  position: absolute;
  left: 61%;
  top: 0.4em;
  background-color: rgb(39, 39, 39);
}
.aparecer {
  left: 0;
}
.parrafos {
  font-size: 1.1rem;
}
.items-enlace {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5em;
  padding: 0.5rem 0;
}
.items-enlace a {
  color: rgb(240, 240, 240);
  font-weight: 600;
  font-size: 1rem;
  margin-right: 2rem;
}
.ini img {
  display: none;
  height: 2.9rem;
  width: 2.9rem;
  border-radius: 50%;
}
.subtitle {
  color: rgb(240, 240, 240);
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 1.9rem;
  font-weight: 800;
}
.subtitle a {
  margin-bottom: 1.6rem;
  text-decoration: none;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  color: rgb(240, 240, 240);
  font-weight: 600;
  transition: all 0.2s ease;
}

.pie {
  background: rgb(10, 10, 10);
  color: rgb(250, 250, 250);
}
.copiar {
  text-align: center;
}
.h4 {
  text-align: center;
}
.h5 {
  text-align: center;
  padding-bottom: 10px;
  color: #ffa500;
  font-weight: 600;
}
.content {
  padding-top: 0.1rem;
  padding-bottom: 1rem;
}
.navegacion2 {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}
.navegacion2 a {
  margin-left: 1rem;
  margin-right: 1rem;
}
.boton {
  display: flex;
  justify-content: end;
  margin: 2rem 0.7rem 2rem 0;
}
.btn1 {
  background: #343d4d;
  border-radius: 1rem;
  padding: 0.8rem 0.5rem;
  width: auto;
  border: none;
  cursor: pointer;
  color: rgb(240, 240, 240);
  font-size: 1rem;
  font-weight: 600;
  margin-right: 1rem;
  text-decoration: none;
}
.codigo {
  padding: 2rem;
  background: #343d4d;
  color: rgb(240, 240, 240);
  overflow-x: auto;
  width: 60%;
  border-radius: 10px;
}

.btn1:hover{
  background: rgb(10, 10, 10);
}
.blanco {
  white-space: pre !important;
}
#btn2 {
  margin-right: 1.5rem;
}

.subtitle a:hover{
  background-color: rgb(90, 90, 90);
  color: #ffa500;
}

a.links.active {
  background-color: rgb(39, 39, 39);
  color: #ffa500;
}

.introducir{
  color: #ffa500 !important; 
  background-color: rgb(39, 39, 39);
}

@media (min-width: 900px) {
  .icono {
    display: none;
  }
  body {
    overflow-y: scroll !important;
  }
  .desplegar {
    margin-top: 3.9rem;
    left: 0;
    width: 16%;
    background: rgb(40, 40, 40);
  }
  .barra {
    width: 100%;
    background-color: rgb(150, 150, 150); /* Gris Azulado Oscuro */

    height: calc(100vh - 3.9rem);
  }

  .cerrar {
    display: none;
  }
  .principal {
    margin-left: 17%;
  }

  .pie {
    margin-left: 16%;
  }
  .items-enlace a {
    margin-right: 5rem;
  }

  .items-enlace a:hover {
    color: #ffa500;
  }
  .subtitle {
    padding-top: 0.2rem;
    color: rgb(10, 10, 10);
  }
  .h3 {
    font-size: 1.2em;
  }

  .contenedor {
    padding-right: 10rem;
    padding-left: 4rem;
  }
  .subtitle a {
    color: rgb(10, 10, 10);
  }
}
@media (min-width: 500px) {
  .ini img {
    display: block;
    
  }

  img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }


  .items-enlace a {
    margin-left: 2rem;
  }
  .titulo {
    font-size: 1rem;
  }

  .navegacion2 {
    font-size: 2rem;
  }
  .navegacion2 a {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
